.textarea{ 
    padding-left: 21px;
    padding-left: 25px;
}
.service-list{
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
}
.service-item{
    background-color: #2b2b2c;
    border-radius: inherit;
}