.main-box{
    display: grid;
    text-align: left; 
    margin-left: 2vw;  
    margin-bottom: 3rem;
}  
.tline para{
    color: #8c8cfd;
    padding-bottom: 0px;
}
.tline .timeline-first-dot{
    background-color: #8c8cfd;
}
.tline .timeline-dot{
    background-color: #8c8cfd;
}
.tline .css-1ami7lv-MuiTimelineConnector-root{
    background-color: #8c8cfd;
    width: 2px;
    display: none;
} 
.tline .timeline-header h3{
    text-align: left;
    padding-top: 9px; 
    padding-left: 4px;
    padding-right: 2px; 
}
.css-ha3bif-MuiTimelineItem-root:before{
    display: none;
} 
.skills-box{
    padding-top: 1.5rem;
    align-items: left;
    margin-right: 5rem;
} 
.skills-box li{
    padding-top: 1rem;
}