.upperpart img{
    width: 4%;
}  
ul{
    list-style: none;
}
h2{
    font-size:x-small;
    color: aliceblue;
    padding-bottom: -2px; 
    text-align: left;
}
.flexx{ 
    padding-left: 15px;
    display: flex;
    margin-top: 10px;
} 
.col{
    text-align: left;
    gap: 5px;
}  
.col p{
    font-size: small; 
} 
span{
    background-color: #2b2b2c;
    font-size: small;
    padding: 8px;
    border-radius: 8px;
}
i{
    padding-top: 32px;
    justify-content: center;
    padding-right: 34px;
    padding-left: 23px;
} 
.btn{
    border-radius: 23px; 
    margin-bottom: 5vh;
    background-color: #8c8cfd;
} 