.app {
  text-align: center; 
  display: flex; 
  padding-top: 10vh;
  justify-content: row;  
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: white;
} 
.rounded{
  border-radius: 20px;
  box-shadow: 0 24px 80px hsla(0, 0%, 0%, 0.25);
}
.side{  
  background-color: #1e1e1f; 
  height: 100%;
  height: max-content;
  position: sticky;
  color: white;
  width: 17vw;
  margin-left: 10vw;
}
.main{ 
  padding-top: 45px;
  margin-left: 2vw; 
  margin-bottom: 5rem; 
  text-align: left;
  background-color: #1e1e1f;
  color: white;
  width: 58vw; 
} 
.main p, h1, h2, h3{ 
  padding-left: 26px;
  padding-right: 55px;
}  
.main h1{
  font-weight: bolder;
} 
.main h2,h3{
  font-weight: bold; 
}
.main p{
  color: #d6d6d6;
}